/*   
Theme Name: MDS Boring & Drilling Theme
Theme URI: http://samplesite.com
Description: N/A
Author: James Songalia
Author URI: http://mysite.net
Version: 1.0
*/

@font-face {
    font-family: 'SF Quartzite Bold Oblique';
    src: url('font/SF-Quartzite-Bold-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html, div, p, h1,h2,h3, span, a, ul, li{
	padding:0;
	margin:0;
}

p, h1, h2, h3, a{
	font-family: 'Open Sans';
}

a{
	font-family: 'Lato';
}


h1{
	font-family: SFQuartzite;
	font-style: italic;
	font-weight: bold;
	color: #ffffff;	
}

body {
	background-color: #111111;
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.clear{
	clear: both;
}
.wrapper {
	width: 1004px;
	background-image: url(images/header-bg.jpg);
	background-repeat: repeat;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
}
.header {
	background-repeat: repeat-x;
	width: 1004px;
	height: 144px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #292929;
	padding-top: 26px;
	margin-top: 20px;
}
.header-margin {
	background-image: url(images/header-margin-bg.jpg);
	background-repeat: repeat-x;
	height: 14px;
	width: 1004px;
}
.header-margin:first-child{
	border-top:solid 2px red;
}
.header-margin:last-child{
	border-bottom:solid 2px red;
}
.header-con {
	background-image:url(images/header-logo-bg.jpg);
	width: 1004px;
	height: 109px;
	border-top-width: 4px;
	border-bottom-width: 4px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000;
	border-right-color: #D6D6D6;
	border-bottom-color: #000;
}
.header-con .logo {
	height: 100px;
	background-image: url(images/bg-logo.png);
	background-position: center center;
	width: 932px;
	background-repeat: no-repeat;
	margin-top: 4px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 13px;
}
.logo span {
	float: left;
}
.logo img {
	margin-left: 27px;
	margin-right:27px;
}
.logo h1 {
	line-height: 100px;
	font-family: "SF Quartzite Bold Oblique";
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	color: #FFF;
}

.navbar{
	background-image: url(images/navbar-bg.jpg);
	background-repeat: repeat-x;
	height: 32px;
	width: 1004px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #ed1c24;
	border-bottom-color: #ed1c24;
	float: left;
}
.content {
	width: 1004px;
}
.content .slideshow {
	divheight: 428px;
	width: 654px;
/*	background-image: url(images/slideshow.jpg); */
	float: left;
	height: 428px;
}
.content .right-con {
	float: right;
	width: 290px;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
}
.content .right-con h2{
	font-size: 18px;
	color: #FFF;
	margin-bottom: 20px;
	font-weight: normal;
}

.content .right-con p{
	font-size: 14px;
	color: #FFF;
	text-align: center;
	margin-bottom: 10px;
	font-style: italic;
	font-weight: normal;
}
.content .right-con .right-align {
	float: right;
	text-align: right;
}



.footer {
	height: 128px;
	width: 1004px;
}
.footer .navbar-footer {
	background-image: url(images/bottom-nav-bg.jpg);
	background-repeat: repeat-x;
	height: 45px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #ed1b24;
	border-bottom-color: #ed1b24;
}
.footer .footer-logo {
	height: 68px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
.footer .footer-logo img{
	float:left;
}
.footer-logo p {
	font-size: 14px;
	color: #FFF;
	font-family: 'Lato';
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.footer .copyright{
	width: 1004px;
	background-color: #111111;
	padding-top: 20px;
	padding-bottom: 40px;
}

.copyright p{
	font-size: 11px;
	color: #FFF;
	width: 620px;
	margin-right: auto;
	margin-left: auto;
	font-weight: normal;
}

/* Navigation Menu */

/* Footer Nav */
.navbar-footer #menu {
	height: 42px;
	border:none;
}
.navbar-footer #menu li a {
	height:45px;
	line-height:44px;
}
.navbar-footer #menu {
	height: 45px;
}

.navbar-footer #menu :hover > a{
	color:#FFF;
	background-image: url(images/navhover-footer.jpg);
	background-repeat: repeat-x;
	background-color: #5d0101;
	background-position: center;
}
.navbar-footer #menu ul,
.navbar-footer #menu :hover ul ul,
.navbar-footer #menu :hover ul :hover ul ul{
	display:none;
}

/* Footer Nav End */
/*
.navbar {
	height: 50px;
	margin-top: 5px;
	float: right;
	padding: 0px;
	margin-right: 10px;
}
*/
.navbar-con  {
	width: 800px;
	height: 32px;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#menu {
	list-style-type:none;
	padding:0;
	margin: 0;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #4b4b4b;
	border-left-color: #161616;
}

#menu ul {
	list-style-type:none;
	padding:0;
	margin: 0;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; 
}
#menu li {
	float:left;
	position:relative;
	margin: 0px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #474747;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #191515;
	padding: 0px;
}
#menu li ul li {
	float:left;
	position:relative;
	width: 140px;
	margin: 0px;
	border:none;
	padding: 0px;
}

#menu li a {
	color:#FFF;
	height:32px;
	font-size:15px;
	line-height:30px;
	text-decoration:none;
	text-align:center;
	text-transform: uppercase;
	display: block;
	margin: 0px;
	padding-top: 0px;
	padding-right: 18px;
	padding-bottom: 0px;
	padding-left: 18px;
}
#menu li ul li a {
	color:#FFF;
	height:30px;
	font-size:12px;
	line-height:30px;
	text-decoration:none;
	text-align:left;
	text-transform: uppercase;
	display: block;
	margin: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 15px;
}
#menu :hover {
}
#menu :hover > a , #menu li ul li :hover > a{
	color:#FFF;
	background-image: url(images/navhover.jpg);
}

#menu ul, 
#menu :hover ul ul,
#menu :hover ul :hover ul ul,
#menu :hover ul :hover ul ul.left {
	position:absolute;
	background-color: #0FF;
	left: -99999px;
}

#menu :hover ul{
	left:0;
	top:32px;
	background-color: #2d2d2d;
	background-image: -moz-linear-gradient(top, #2d2d2d, #000000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d2d2d), to(#000000));
	background-image: -webkit-linear-gradient(top, #2d2d2d, #000000);
	background-image: -o-linear-gradient(top, #2d2d2d, #000000);
	background-image: linear-gradient(to bottom, #2d2d2d, #000000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d2d2d', endColorstr='#000000', GradientType=0);
} /* the background image is for IE7 */

#menu :hover ul :hover ul,
#menu :hover ul :hover ul :hover ul {
	padding:0;
	left:140px;
	top: 0px;
	background-color: #0C0;
}

#menu :hover ul :hover ul.left,
#menu :hover ul :hover ul :hover ul.left {
	padding:0;
	left:-131px;
	top:-1px;
}

/* End Navigation Bar */

.content .left-con {
	width: 600px;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 50px;
	float: left;
}
.content .sidebar {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	float: left;
	width: 280px;
}
.sidebar-con {
	padding-bottom: 20px;
	padding-top: 20px;
}

.left-con h1 {
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	color: #be1e2d;
	font-style: normal;
	margin-bottom: 14px;
}
.left-con h2 {
	font-family: Arial;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
	margin-bottom: 14px;
}
.left-con p{
	font-family: Arial;
	font-size: 14px;
	color: #FFF;
	font-weight: normal;
	margin-bottom: 13px;
}
.left-con .center-align{
	font-family: Arial;
	font-size: 14px;
	color: #FFF;
	font-weight: normal;
	margin-bottom: 13px;
	text-align: center;
}
.sidebar h3 {
	font-family: Calibri;
	font-size: 24px;
	color: #be1e2d;
	font-weight: normal;
	margin-bottom: 14px;
}
.sidebar p{
	font-family: Calibri;
	font-size: 14px;
	color: #999999;
	margin-bottom: 12px;
}

.widget{
	color: #FFF;
}

 li.categories { color: #FFF; font-size: 24px; }  /* outermost list item */
 li.cat-item { color: #FFF; font-size: 12px; }
 li.cat-item a { color: #FFF; }
 li.cat-item-7 { }  /* category ID #7, etc */
 li.current-cat { }
 li.current-cat-parent { }
 ul.children { }
